<%= form_for(@person) do |f| %>
<!-- THIS IS THE FIELD FORM FOR PERSON (PEOPLE) -->
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%= render 'person_progress' %>
	<div id="persontabs">
	    <ul>
	        <li><a href="#fragment-1"><span>Attendee Info</span></a></li>
	        <li><a href="#fragment-2"><span>Contacts</span></a></li>
	        <li><a href="#fragment-3"><span>Medical</span></a></li>
	        <li><a href="#fragment-4"><span>Session Reservation</span></a></li>
	    </ul>
	    <div id="fragment-1">
			<fieldset><legend><b>Camper Information</b></legend>
				<fieldset><legend><b>Personal Information</b></legend>
				  <p class="field">
						<table class="person_info">
							<tr>
								<td class="person_info_label"><%= f.label "First Name" %></td><td><%= f.text_field :firstname %></td>
								<td class="person_info_label"><%= f.label "Last Name" %></td><td><%= f.text_field :lastname %></td>
								<td class="person_info_label"><%= f.label "Middle Init" %></td><td><%= f.text_field :middleinit, :size=>2 %></td>
								</tr>
							<tr>
								<td class="person_info_label"><%= f.label "Nickname" %></td><td><%= f.text_field :nickname %></td>
								<td class="person_info_label">
								<%= f.label :birthdate %></td><td> <%= f.date_select :birthdate, :start_year=>1935, :order => [:month, :day, :year] %></td>
								<td></td><td></td>
							</tr>
							<tr>
								<td class="person_info_label"><%= f.label :gender %></td><td><%= f.select :gender, ['Male','Female'] %></td>
								<td></td><td></td>
								<td></td><td></td>
							</tr>
							<tr>
								<td class="person_info_label">
								<%= f.label "T-Shirt Size" %><br /></td><td> <%= f.select :shirtsize, ['YS','YM','YL','S','M','L','XL','XXL'] %></td>
								<td></td><td></td>
								<td></td><td></td>
							</tr>
						</table>						
					</p>
				</fieldset>
				<fieldset><legend><b>Address Information</b></legend>
				  <%= f.fields_for :addresses do |builder| %>
				    <%= render "address_fields", f: builder %>
				  <% end %>
				</fieldset>
				<fieldset><legend><b>Email</b></legend>
					<%= f.fields_for :emails do |builder| %>
						<%= render "email_fields", f: builder %>
					<% end %>
					<%= link_to_add_fields "Add Email", f, :emails %>
				</fieldset>
				<fieldset><legend><b>Organization Information</b></legend>
					<%= f.fields_for :organizations do |builder| %>
						<%= render "organization_fields", f: builder %>
					<% end %>
					<%= link_to_add_fields "Add Home Church / Organization Name", f, :organizations %>	
				</fieldset>
				<fieldset><legend><b>Camp Media Permission</b></legend>
					<div><br/>
					<%= f.check_box :forbid_photos %>
					I DO NOT give permission for the camper's image (either by video or photograph) to be
					used in any manner by Atlanta Bible Camp for promotional or informational purposes.</div>
				</fieldset>
			</fieldset>	
		</div>
		<div id="fragment-2">
			<fieldset><legend><b>Contact Info</b></legend>
				<%= f.fields_for :simple_contacts do |builder| %>
					<%= render "simple_contact_fields", f: builder %>
				<% end %>
			<%= link_to_add_fields "Add A Contact", f, :simple_contacts %>		
			</fieldset>		
		</div>
		<div id="fragment-3">

			<fieldset><legend><b>Medical Information</b></legend>
				<fieldset><legend>Medications</legend>
					Please check the following over-counter-medications that you will ALLOW the nurse to administer to your child as needed:<br />
					<table>
						<tr>
							<td class="med_checkbox"><%= f.check_box :allow_tylenol %></td><td class="med_label"><b><%= f.label :allow_tylenol %></b></td>
							<td class="med_checkbox"><%= f.check_box :allow_sudafed %></td><td class="med_label"><b><%= f.label :allow_sudafed %></b></td>
							<td class="med_checkbox"><%= f.check_box :allow_ibuprofin %></td><td class="med_label"><b><%= f.label :allow_ibuprofin %></b></td>
						</tr>
					
						<tr>
							<td class="med_checkbox"><%= f.check_box :allow_mylanta %></td><td class="med_label"><b><%= f.label :allow_mylanta %></b></td>
							<td class="med_checkbox"><%= f.check_box :allow_cough_medicine %></td><td class="med_label"><b><%= f.label :allow_cough_medicine %></b></td>
							<td class="med_checkbox"><%= f.check_box :allow_benadryl %></td><td class="med_label"><b><%= f.label :allow_benadryl %></b></td>
						</tr>
					</table>
					<br />
					<%= f.fields_for :person_medications do |builder| %>
						<%= render "person_medication_fields", f: builder %>
					<% end %>
					<br/><%= link_to_add_fields "Add Another Medication", f, :person_medications %>		
				</fieldset>
				<fieldset><legend>Allergies</legend>
					<%= f.fields_for :person_allergies do |builder| %>
						<%= render "person_allergy_fields", f: builder %>
					<% end %>
					<br /><%= link_to_add_fields "Add Allergy", f, :person_allergies %>		
				</fieldset>
				<fieldset><legend>Medical Notes</legend>
					<p>Due to the nature of medical notes they are committed and locked at each save</p>
					<div id="medical_note_history_content">
						<%= div_for @person.person_medical_notes.reject{|mn|mn.new_record?} do |omn| %>
							<p><b>
							<%= omn.created_at.localtime.strftime("%m/%d/%Y at %I:%M%p") %> by <%= omn.created_by_name %>
							</b> : 
							<%= omn.notes %></p>
						<% end %>
					</div>
					<%= f.fields_for :person_medical_notes, @person.person_medical_notes.select{|ref|ref.new_record?} do |builder| %>
						<%= render "person_medical_note_fields", f: builder, :locals => {:builder => builder } %>
					<% end %>
					<br /><%= link_to_add_fields "Add Note", f, :person_medical_notes %>		
				</fieldset>
			</fieldset>		
		</div>
		<div id="fragment-4">
			<fieldset><legend><b>Registered Events</b></legend>
				<div id="reservations_locked">
					<%= div_for @person.reservations.date_desc do |lres| %>
						<p>
							<b><%= lres.event.eventname %> reservation created on:</b> <%= lres.created_at.localtime.strftime("%m/%d/%Y at %I:%M%p") %>
							<br/> <b>Dates:</b> <%= lres.event.date_begin.localtime.strftime("%m/%d/%Y")  %> - <%= lres.event.date_end.localtime.strftime("%m/%d/%Y") %>
							<br/> <b>Description:</b> <%= lres.event.notes %>
							<% @res_status = lres.reservation_cart.nil? ? 'new' : lres.reservation_cart.try(:status) %>
							<br /><b>Status:</b> <%= @res_status %>
						</p>			
					<% end %>
				</div>	

			</fieldset>		
		</div>
	</div>

	<div class="actions">
    	<%= f.submit :class=>"makeperson", :value=>"Save"%>
  	</div>
<!-- /div -->
<% end %>
