<% if user_signed_in? %>
	<!-- %= render "layouts/sidebarnav" % -->
	<!-- div id="split_content" -->

		<h1>Registrants</h1>
		<!-- = link_to "Go Back to Main Page", root_path % -->
		<br/>
		<% if @people.empty? %>

			<h2> You haven't created any registrants yet</h2>

		<% else %>		
			<table id="people_index" class="display">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Middleinit</th>
						<th>Birthdate</th>
						<!-- <th>Age at camp</th> -->
						<th>Nickname</th>
						<th>Gender</th>
						<th>Date created</th>
						<th>% complete</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @people.each do |person| %>
					  <tr>
					    <td><%= person.firstname %></td>
					    <td><%= person.lastname %></td>
					    <td><%= person.middleinit %></td>
					    <td><%= person.birthdate %></td>
					    <!-- <td></td> -->
					    <td><%= person.nickname %></td>
					    <td><%= person.gender %></td>
					    <td><%= person.created_at.in_time_zone("Eastern Time (US & Canada)")%></td>
						<% @req_progress = person.requirement_progress %>
						<% if @req_progress < 100 %>
							<td class="warn_cell">
						<% else %>
							<td>
						<% end %>&nbsp;&nbsp;<%= @req_progress %>%</td>
					    <td><%= link_to 'Show', person %></td>
					    <td>
						<% if can? :update, person %>
							<%= link_to 'Edit', edit_person_path(person) %>
						<% end %>
						</td>
					    <td>
							<% if can? :destroy, person %>		
								<%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %>
							<% end %>
						</td>
					  </tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		<br />

		<%= link_to 'New Registrant', new_person_path %>

	<!-- /div -->
<% else %>
	<b>You must log in to access data</b><br/><br/>
	<%= link_to "Sign up", new_user_registration_path %><br/><br/>
	<%= link_to "Sign in", new_user_session_path %>
<% end %>