<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>

	<table>
	  <tr>
	    <th>Reservation Event</th>
		<th>Registrant</th>
	    <th>Status</th>
	    <th>Reference code</th>
	    <th>Event Price</th>
	  </tr>
		<% @total_amount = 0 %>
		<% @total_discount = 0 %>
		<% @stub_id = 0 %>
	<% ReservationCart.where( :invoice_id => @invoice.id ).each do |inv| %>
		<% @total_amount = @total_amount + inv.reservation.event.price %>
		<% @total_discount = @total_discount + inv.reservation.all_discounts %>			
	  <tr>
	    <td><%= link_to inv.reservation.event.eventname, inv.reservation %></td>
		<td><%= link_to inv.reservation.person.fullname, inv.reservation.person  %> </td>
	    <td><%= inv.status %></td>
	    <td><%= inv.reference_code %></td>
	    <td><%= number_to_currency(inv.reservation.event.price) %></td>
	  </tr>
	  <tr>
	  </tr>
	<% end %>
	<% @total_due = @total_amount - @total_discount %>
	<tr><td colspan="4" align="right"><b>Discounts applied</b></td><td> <%= number_to_currency(@total_discount) %> </td></tr>
	<tr><td colspan="4" align="right"><b>Total Due</b></td><td><%=number_to_currency(@total_due)  %></td></tr>
	</table>

<br/><br/>

<div class="field">
  <%= f.label 'Coupon Code:' %><br />
  <%= f.text_field :user_coupon_code, :class => 'user_coupon_code'%>
	<% if (@invoice.status == 'new') %>
	 <%= link_to "Apply Coupon", {:controller=>"invoices", :action=>"apply_coupon_code", :id=>@invoice.id, :user_coupon_code=>"!#{f.user_coupon_code}!"}, :method=>"post" %>
	<% end %>
</div>

  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :reference_code %><br />
    <%= f.text_field :reference_code %>
  </div>
  <div class="field">
    <%= f.label :items_hash %><br />
    <%= f.text_area :items_hash %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br />
    <%= f.text_field :payment_type %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br />
    <%= f.date_select :payment_date %>
  </div>
  <div class="field">
    <%= f.label :is_confirmed %><br />
    <%= f.check_box :is_confirmed %>
  </div>
  <div class="field">
    <%= f.label :broker_stream %><br />
    <%= f.text_area :broker_stream %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
