<p id="notice"><%= notice %></p>
<br/>
<h1><% if @invoice.reservation_carts.first.status=="paid" %>Paid Invoice<% else %>Check Out<% end %></h1>
	<table>
		<tr>
		<th>Reservation Event</th>
		<th>Registrant</th>
		<th>Status</th>
		<th>Reference code</th>
		<th>Event Price</th>
		</tr>
		<% @total_amount = 0 %>
		<% @total_discount = @invoice.discount_total %>
		<% @stub_id = 0 %>
		<% ReservationCart.where( :invoice_id => @invoice.id ).each do |rescart| %>
		<% @total_amount = @total_amount + rescart.reservation.event.price %>
		<tr>
			<td><%= link_to rescart.reservation.event.eventname, rescart.reservation %></td>
			<td><%= link_to rescart.reservation.person.fullname, rescart.reservation.person  %> </td>
			<td><%= rescart.status %></td>
			<td><%= rescart.reference_code %></td>
			<td><%= number_to_currency(rescart.reservation.event.price) %></td>
		</tr>
		<tr>
		</tr>
	<% end %>
	<% @total_due = @total_amount - @total_discount %>
		<tr><td colspan="4" align="right"><b>Discounts applied</b></td><td> <%= number_to_currency(@total_discount) %> </td></tr>
		<tr><td colspan="4" align="right"><b>Total Due</b></td><td><%=number_to_currency(@total_due)  %></td></tr>
	</table>

<br/><br/>
	<% if @invoice.payment_notifications.count > 0 %>
	<h2>Transaction History:</h2>
	<table>
		<th>Transaction ID</th>
		<th>Status</th>
		<th>Card Hint</th>
		<th>Expire Info</th>
		<th>Total Charged</th>
		<th>Processed Date</th>
		<th>Txn Notes</th>
		<% @invoice.payment_notifications.each do |pn| %>
			<tr>
				<td><%= "#{pn.transaction_id}" %></td>
				<td><%= "#{pn.params[:status]}" %></td>
				<td><%= "#{pn.params[:cardnumber]}" %></td>
				<td><%= "#{pn.params[:expmonth]}/#{pn.params[:expyear]}" %></td>
				<td><%= "#{pn.params[:chargetotal]}"%></td>
				<td><%= "#{pn.params[:txndate_processed]}"%></td>
				<td><%= "#{pn.params[:comments]}"%></td>
			</tr>
		<% end %>
	</table>
	<% end %>
<%= form_for(@invoice) do |f| %>
<script>
    function coupon_url_patch() {
        var select = document.getElementById('coupon_checker');
		alert(select.href);
        // document.location = url + '/' + id;
    };

	$().ready(function(){
	    $('#coupon_checker').click(function(){
	        $(this).attr('href', $(this).attr('href') + '&amp;user_coupon_code=' + $('.user_coupon_code').val());
	    });
	});
</script>
	<div>
		<p>
	<% unless @invoice.user_coupon_code.nil? %>
		You have applied a coupon to this invoice : <b><%= "#{@invoice.user_coupon_code}"%></b>
	<% end %>
		</p>
	</div>
	<% unless @invoice.status=="paid" %>
		
		<div class="field">
		  <%= f.label 'Coupon Code:' %><br />
		  <%= f.text_field :user_coupon_code, :class => 'user_coupon_code'%>
			<% if (@invoice.status == 'new') %>
			 <%= link_to "Apply Coupon", {:controller=>"invoices", :action=>"apply_coupon_code", :id=>@invoice.id},:id=>'coupon_checker', :method=>"post", :confirm => "Applying this new coupon will remove the existing coupon.\n\nYou can only have one coupon per invoice, the coupon will automatically apply to all appropriate reservations. \n\nDo you wish to continue?" %>
			<% end %>
		</div>
		<div class="action">
			<% if (@invoice.status=='new') %>
			 <%= link_to "Cancel this Invoice", {:controller=>"invoices", :id=>@invoice.id, :action=>"cancel_invoice"}, :method=>"post" %>
			<% end %>
		</div>
		<div class="action">
			<% if (@invoice.status=='new') %>
			 <%= link_to "Pay this Invoice", {:controller=>"invoices", :id=>@invoice.id, :action=>"submit_transaction_to_firstdata"}, :method=>"post" %>
			<% end %>
		</div>
	<% end %>
<% end %>
<!-- <p>
  <b>User:</b>
  <%= @invoice.user_id %>
</p>

<p>
  <b>Reference code:</b>
  <%= @invoice.reference_code %>
</p>

<p>
  <b>Items hash:</b>
  <%= @invoice.items_hash %>
</p>

<p>
  <b>Payment type:</b>
  <%= @invoice.payment_type %>
</p>

<p>
  <b>Payment date:</b>
  <%= @invoice.payment_date %>
</p>

<p>
  <b>Is confirmed:</b>
  <%= @invoice.is_confirmed %>
</p>

<p>
  <b>Broker stream:</b>
  <%= @invoice.broker_stream %>
</p>

<p>
  <b>Status:</b>
  <%= @invoice.status %>
</p> -->

<!-- 
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
-->