<p id="notice"><%= notice %></p>
<br/>
<h1>Checkout</h1>
<table>
	
	<table>
	  <tr>
	    <th>Reservation Event</th>
		<th>Registrant</th>
	    <th>Status</th>
	    <th>Reference code</th>
	    <th>Event Price</th>
	  </tr>
		<% @total_amount = 0 %>
		<% @total_discount = @invoice.discount_total %>
		<% @stub_id = 0 %>
	<% ReservationCart.where( :invoice_id => @invoice.id ).each do |rescart| %>
		<% @total_amount = @total_amount + rescart.reservation.event.price %>
	  <tr>
	    <td><%= link_to rescart.reservation.event.eventname, rescart.reservation %></td>
		<td><%= link_to rescart.reservation.person.fullname, rescart.reservation.person  %> </td>
	    <td><%= rescart.status %></td>
	    <td><%= rescart.reference_code %></td>
	    <td><%= number_to_currency(rescart.reservation.event.price) %></td>
	  </tr>
	  <tr>
	  </tr>
	<% end %>
	<% @total_due = @total_amount - @total_discount %>
	<tr><td colspan="4" align="right"><b>Discounts applied</b></td><td> <%= number_to_currency(@total_discount) %> </td></tr>
	<tr><td colspan="4" align="right"><b>Total Due</b></td><td><%=number_to_currency(@total_due)  %></td></tr>
	</table>

<br/><br/>
<%= form_for(@invoice) do |f| %>
<script>
    function coupon_url_patch() {
        var select = document.getElementById('coupon_checker');
		alert(select.href);
        // document.location = url + '/' + id;
    };

	$().ready(function(){
	    $('#coupon_checker').click(function(){
	        $(this).attr('href', $(this).attr('href') + '&amp;user_coupon_code=' + $('.user_coupon_code').val());
	    });
	});
</script>
	<div>
		<p>
	<% unless @invoice.user_coupon_code.nil? %>
		You have applied a coupon to this invoice : <b><%= "#{@invoice.user_coupon_code}"%></b>
	<% end %>
		</p>
	</div>

<% end %>
<%= render 'firstdata_fields'%>
<!-- <p>
  <b>User:</b>
  <%= @invoice.user_id %>
</p>

<p>
  <b>Reference code:</b>
  <%= @invoice.reference_code %>
</p>

<p>
  <b>Items hash:</b>
  <%= @invoice.items_hash %>
</p>

<p>
  <b>Payment type:</b>
  <%= @invoice.payment_type %>
</p>

<p>
  <b>Payment date:</b>
  <%= @invoice.payment_date %>
</p>

<p>
  <b>Is confirmed:</b>
  <%= @invoice.is_confirmed %>
</p>

<p>
  <b>Broker stream:</b>
  <%= @invoice.broker_stream %>
</p>

<p>
  <b>Status:</b>
  <%= @invoice.status %>
</p> -->

<!-- 
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
-->