<%= form_for @system_message do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.label :reference_class_type %><br />
    <%= f.text_field :reference_class_type %>
  </p>
  <p>
    <%= f.label :reference_id %><br />
    <%= f.number_field :reference_id %>
  </p>
  <p>
    <%= f.label :calling_method %><br />
    <%= f.text_field :calling_method %>
  </p>
  <p>
    <%= f.label :exception_audit %><br />
    <%= f.text_area :exception_audit %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :last_modified_by %><br />
    <%= f.number_field :last_modified_by %>
  </p>
  <p>
    <%= f.label :last_modified_dt %><br />
    <%= f.datetime_select :last_modified_dt %>
  </p>
  <p><%= f.submit %></p>
<% end %>
