<h1>Editing reservation for  <%= @reservation.person.fullname %></h1>

<%= render 'form' %>

<%= link_to 'Show', @reservation %> | 
<%= link_to 'Back', reservations_path %> <br/><br/>
<%= render 'add_to_cart' %>
