<h1>Reservations</h1>
<!-- %= link_to "Go Back to Main Page", root_path % -->
<br/>
<% if @reservations.empty? %>

	<h2> You haven't made any reservations yet </h2>

<% else %>

	<table id="reservations_index" class="display">
		<thead>
		  <tr>
		    <th>Person</th>
		    <th>Event</th>
			<th>Dates</th>
		    <!-- <th>Is deleted</th> -->
		    <!-- <th>Is staffing</th> -->
		    <!-- <th>Notes</th> -->
		    <th>Age Number at event</th>
		    <th>Age at Event</th>
			<th>Price</th>
			<th>Status</th>
		    <th></th>
		    <th></th>
			<th></th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
			<% @reservations.each do |reservation| %>
				<% 
				@readable_age_at_event = distance_of_time_in_words(reservation.person.birthdate, reservation.event.date_begin.to_date) 
				@event_date = reservation.event.date_begin.to_date
				@person_birthdate = reservation.person.birthdate
				@age_at_event = @event_date.year - @person_birthdate.year - ((@event_date.month > @person_birthdate.month || (@event_date.month == @person_birthdate.month && @event_date.day >= @person_birthdate.day)) ? 0 : 1)
				@age_cell_contents = @age_at_event >= 9 ? "#{@readable_age_at_event}" : "#{@readable_age_at_event} (#{@person_birthdate})" 
				%>
				<% unless reservation.is_deleted %>
				  <tr>
				    <td><%= reservation.person.firstname %> <%= reservation.person.lastname %> (<%= reservation.person.nickname %>)</td>
				    <td><%= reservation.event.eventname %></td>
					<td><%= reservation.event.event_dates%></td>
				    <!-- <td><%= reservation.is_deleted %></td> -->
				    <!-- <td><%= reservation.is_staffing %></td> -->
				    <!-- <td><%= reservation.notes %></td> -->
				    <td><%= @age_at_event %></td>
				    <td><%= @age_cell_contents %></td>
					<td>
					<% if reservation.reservation_cart.try(:status)=='paid' %>
						<% if reservation.reservation_cart.invoice.paid_subtotal.nil? or reservation.reservation_cart.invoice.paid_discount_total.nil? or reservation.invoice.paid_total_balance.nil? %>
							<%= reservation.reservation_cart.invoice.total_balance %>
						<% else %>
							<%= reservation.reservation_cart.invoice.paid_total_balance %>
						<% end %>
					<% else %>
						<%= number_to_currency(reservation.event.price) %>
					<% end %>
					
						
						
						</td>
					<% if reservation.reservation_cart.try(:status) == 'new'%>
						<td>Added to cart</td>
					<% else %>
						<% if reservation.reservation_cart.nil? && reservation.is_purchasable?!=true %>
							<td>Expired</td>
						<% elsif reservation.reservation_cart.nil? %>
							<td>New</td>
						<% else %>
							<td><%= reservation.reservation_cart.try(:status) %></td>
						<% end %>
					<% end %> <!-- end reservation_cart.try -->
				    <td><%= link_to 'Show', reservation %></td>
					<td>
					<% if can? :update, reservation %>
						<% unless reservation.locked==true %>
				    		<%= link_to 'Edit', edit_reservation_path(reservation) %>
						<% end %>
					<% end %>
					</td>
					<td>
						<% if (reservation.reservation_cart.nil?) and (reservation.locked != true) and (reservation.is_purchasable?) and (reservation.person.requirement_progress==100)%>
						 <%= link_to "Add to cart", {:controller=>"reservations", :id=>reservation.id, :action=>"add_to_cart"}, :method=>"post" %>
						<% end %>			
					</td>
					<td>
					<% if reservation.reservation_cart.nil? %>
						<% if can? :destroy, reservation %>
					    	<%= link_to 'Destroy', reservation, confirm: 'Are you sure?', method: :delete %>
						<% else %>
							<%= link_to "Delete", {:controller=>"reservations", :id=>reservation.id, :action=>"mark_as_removed"}, :method=>"post" %>
						<% end %>
					<% end %>
					</td>
				  </tr>
				<% end %> <!-- end reservation.isdeleted -->
			<% end %> <!-- end reservations -->
		</tbody>
	</table>
<% end %>
<br />

<%= link_to 'New Reservation', new_reservation_path %>
