<h1>Reservation Cart</h1>

<% if @reservation_carts.empty? %>

	<h2> Your cart is empty </h2>

<% else %>
	<table>
	  <tr>
	    <th>Reservation Event</th>
		<th>Registrant</th>
	    <th>Status</th>
	    <th>Reference code</th>
	    <th>Event Price</th>
	    <!-- <th></th> -->
	    <!-- <th></th> -->
	    <th></th>
	  </tr>
		<% @total_amount = 0 %>
		<% @total_discount = 0 %>
		<% @stub_id = 0 %>
		<% @reservation_carts.each do |reservation_cart| %>
			<% @stub_id = reservation_cart.id %>
			<% if (reservation_cart.status=="new") || (current_user.role? :admin) %>
				<% @total_amount = @total_amount + reservation_cart.reservation.event.price %>
				<% @total_discount = @total_discount + reservation_cart.reservation.all_discounts %>			
			  <tr>
			    <td><%= link_to reservation_cart.reservation.event.eventname, reservation_cart.reservation %></td>
				<td><%= link_to reservation_cart.reservation.person.fullname, reservation_cart.reservation.person  %> </td>
			    <td><%= reservation_cart.status %></td>
			    <td><%= reservation_cart.reference_code %></td>
			    <td><%= number_to_currency(reservation_cart.reservation.event.price) %></td>
			    <!-- <td><%= link_to 'Show', reservation_cart %></td> -->
			    <!-- <td><%= link_to 'Edit', edit_reservation_path(reservation_cart.reservation) %></td> -->
			    <td><%= link_to 'Remove from Cart', reservation_cart, confirm: 'This item will be removed from your cart', method: :delete %></td>
			  </tr>
			<% end %>
		<% end %>
		<% @total_due = @total_amount - @total_discount %>
		<!-- <tr><td colspan="4" align="right"><b>Discounts applied</b></td><td> <%= number_to_currency(@total_discount) %> </td></tr> -->
		<tr><td colspan="4" align="right"><b>Total Due</b></td><td><%=number_to_currency(@total_due)  %></td><td></td></tr>
	</table>
	
	<%= link_to "Proceed to Checkout" , {:controller=>"reservation_carts", :id=>@stub_id, :action=>"proceed_to_checkout"}, :method=>"post" %>
	
<% end %>
<br />
<% @unpaid_user_invoices = Invoice.where(:user_id => current_user.id, :status => 'new') %>
<% @paid_user_invoices = Invoice.where(:user_id => current_user.id, :status => 'paid') %>
<% unless @unpaid_user_invoices.empty? %>
	<p>
	You have the following invoices that need to be paid:
	<% @unpaid_user_invoices.each do |uinv| %>
		<br/><%= link_to uinv.reference_code, uinv %> - Balance: <%= uinv.total_balance %>
	<% end %>
	</p>	
<% end %>
<% unless @paid_user_invoices.empty? %>
	<p>You have the following PAID Invoices:
	<% @paid_user_invoices.each do |pinv| %>
		<br/><%= link_to pinv.reference_code, pinv %> - Balance: <%= pinv.total_balance %>
	<% end %>
	</p>	
<% end %>
<!-- <%= link_to 'New Reservation cart', new_reservation_cart_path %> -->
