<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @resource.resourcetype %>
</p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Occupancy:</b>
  <%= @resource.occupancy %>
</p>

<p>
  <b>Notes:</b>
  <%= @resource.notes %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
